{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/registerstyle.css">





{% endblock %}


{% block content %}

<!-- Navigation -->


<header class=" text-white" style="padding-top: 156px; padding-bottom: 100px;">
  <div class="container text-center">
    {% if Register_login == "Success" %}
    <h3 style="color:#dae0e6">User Registered Successfully .. !</h3>
    </a></li>
    {% endif %}
    {% if Register_login == "Exists" %}
    <h3 style="color:rgb(233, 104, 104)">User Name Already Exists .. !</h3>
    </a></li>
    {% endif %}

    
    <div class="signup-form">
      <form action="{{ url_for('Edit_post') }}"  id="homePage1" method="post">
      <h2>UPDATE</h2>
          <div class="form-group">
        <div class="row">
          <div class="col"><input type="text" class="form-control" name="first_name" value = {{edit_name}} placeholder="First Name" required="required"></div>
        </div>        	
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email"value = {{edit_email}} required="required">
          </div>
        <div class="form-group">
            <input type="username" class="form-control" name="username" placeholder="Username" value = {{edit_username}} required="required">
        </div>
      <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" value = {{edit_password}} required="required" 
                    id="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  >
          </div>
    
      <div class="form-group">
              <button class="btn btn-success btn-lg btn-block">Update</button>
          </div>
      </form>
    
  </div>


  </div>
</header>

<script>
  
  function myFunction1() {
    // Validate lowercase letters
    var myInput = document.getElementById("psw");
    var lowerCaseLetters = /[a-z]/g;
    if(myInput.value.match(lowerCaseLetters)) {  
      lower = true
    } else {
      lower = false
    }
    
    // Validate capital letters
    var upperCaseLetters = /[A-Z]/g;
    if(myInput.value.match(upperCaseLetters)) {  
      upper = true
    } else {
      upper = false
    }
  
    // Validate numbers
    var numbers = /[0-9]/g;
    if(myInput.value.match(numbers)) {  
      numbers = true
    } else {
      numbers = false
    }
    
    // Validate length
    if(myInput.value.length >= 8) {
      length_value = true
    } else {
      length_value = false
    }
  }

  if (lower==true && upper == true && numbers == true && length_value == true){
    document.getElementById('homePage1').submit();
  }else{
    alert("Please Match the requested format <br> Must contain atleast one number and one uppercase and one lower case letter and atleast 8 or more characters");
  }
  


</script>

















{% endblock %}